<%# local implementers may over-ride this partial for custom local header. 
    This partial is called by default umlaut layout.  %>

<!--div id="footer" class="footer">
  <%# if umlaut_config.footer_credit.present? %>
    <%#= umlaut_config.footer_credit %> |
  <%# end %>

  <%#= render_service_credits %>
  
  links to aid in debugging openurls gone wrong when in production
  <%#= link_to_test_resolve %>
  <%#= link_to_direct_sfx %>
  <%#= link_to_toggle_debug_info %>
  <%#= umlaut_config.footer_credit %> |

</div> -->
 <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <strong class="lead">REX</strong>
      <ul class="list-unstyled">
        <li><a href="http://www.kb.dk/da/REX/sider?codekitCB=401828938.835484">Hjælp / FAQ</a></li>
        <li><a href="https://rex.kb.dk/F/?func=file&amp;file_name=find-b&amp;local_base=kgl01_rexclassic&amp;con_lng=DAN">REX Classic</a></li>
        <li><a href="http://www.kb.dk/da/REX/sider/biblioteker.html">Biblioteker i REX-samarbejdet</a></li>
        <li><a href="http://www.kb.dk/da/kub/service/sporgbib/forslag.html">Bogforslag</a></li>
        <li><a title="Fandt du ikke hvad du søgte?" href="https://rex.kb.dk/userServices/menu/Order" target="_blank">Fandt du ikke hvad du søgte?</a></li>


      </ul>
    </div>

    <hr class="visible-xs" />

    <div class="col-xs-12 col-sm-4">
      <strong class="lead">DET KONGELIGE BIBLIOTEK</strong>
      <ul class="list-unstyled">
        <li><a href="http://www.kb.dk/da/kb/aabningstider/index.html">Åbningstider & Adresser</a></li>
        <li><a href="http://kontaktbiblioteket.kb.dk">Kontakt biblioteket</a></li>
        <li><a href="http://www.kb.dk/da/kb/handicap/index.html">Handikap-information</a></li>
        <li><a href="http://www.kb.dk/da/kb/webstedet/cookiepolitik.html">Cookie- og privatlivspolitik</a></li>
        <li><a href="http://www.kb.dk/da/kb/webstedet/index.html">Om webstedet</a></li>
      </ul>
    </div>

  </div>

  <hr />

  <div class="row">

    <a href="http://www.kb.dk" class="col-xs-2 col-sm-1">
      <img src="/assets/footerLogo.png" class="img-responsive" alt="Det Kongelige Bibliotek">
    </a>
    <div class="col-xs-10 col-sm-11">
      <address>
        <p>
          <strong>
            Det Kongelige Bibliotek<br/>
            Nationalbibliotek og Københavns Universitetsbibliotek
          </strong>
          <small>
            <br/>
            Søren Kierkegaards Plads 1 - 1219 København K - EAN: 5798 000795297 - <abbr title="Telefon nr.">Tlf: </abbr>+45 33 47 47 47 - E-mail <a href="mailto:kb@kb.dk">kb@kb.dk</a>
            <br/>
            <span class="glyphicon glyphicon-thumbs-up"></span> <a href="https://www.facebook.com/DetKongeligeBibliotek" target="_blank">Følg os på Facebook</a>
          </small>
        </p>
      </address>
    </div>
  </div>

 </div>



