<%# local implementers may over-ride this partial for custom local header. 
    This partial is called by default umlaut layout.  %>
<div id="header" class="navbar navbar-default">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hidden-xs hidden-sm" href="http://www.kb.dk/da/index.html" title="Det Kongelige Bibliotek">
              <img src="/assets/logoDa.png" alt="Det Kongelige Bibliotek">
            </a>
            <a class="navbar-brand visible-xs visible-sm" href="http://www.kb.dk/da/index.html" title="Det Kongelige Bibliotek">
              <img src="/assets/logo.png" alt="Det Kongelige Bibliotek">
            </a>
        </div>

      <% if umlaut_config.localisation_enabled %>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <%=t :language%>:<b class="caret"></b>
                    </a>
                  <%= render_kb_locale_dropdown %>
<!--                    <ul class="dropdown-menu">
                        <li><a href="#">English</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-ok pull-right"></span>Dansk</a></li>
                    </ul>-->
                </li>
            </ul>
        </div>
      <% end %>
      <ol class="breadcrumb">
        <li><a href="#">Rex</a></li>
        <li><a href="#">E-tidskrifter</a></li>
        <li><a href="#">C</a></li>
        <li><span>Caderno de pesquisa. Série biologia</span></li>
      </ol>
    </div>

</div>



