	<ul class="response_list umlaut-help-list">
      <li><%= link_to t(:feedback_title), {:controller=>'feedback', :action => 'show', :id => current_permalink_url, :system => 'A-Z'}, 'target'=>"_blank" %></li>
	</ul>

